$color-white: #fff;
$color-black: #000;

$color-almost-white: #f7f7f7;
$color-smokey-white: #f2f2f2;
$color-cloud-grey: #e7e7e7;
$color-lighter-grey: #ddd;
$color-light-grey: #ccc;
$color-grey: #aaa;
$color-dark-grey: #999;
$color-darker-grey: #777;
$color-light-charcoal: #555;
$color-charcoal: #333;

$color-cornsilk: cornsilk;

$color-app-brand: #67B362;
$color-app-yellow: #fdb813;
$color-app-blue: #488fb4;
$color-app-light-blue: #4AB0D5;
$color-app-cyan: #6CCAC9;
$color-app-red: #F32020;
$color-app-black: #343940;
$color-app-grey: #515B6B;
$color-app-light-grey: #9699A6;

//Haberfeld specific styles
$color-hab-orange: #f37520; //Brand
$color-hab-lightest-gray: #c7c7c7; //select2 borders
$color-hab-light-gray: #a1a1a1; //secondary buttons
$color-hab-dark-gray: #686a6c; //secondary button border
$color-hab-darkest-gray: #2a2a2a; //default font color
$color-hab-green: #9ccb3b;
$color-hab-light-green: #cbe498;
$color-hab-almost-white: #F3F4F5;
$color-hab-yellow: #fdb813;

$app-page-bg: #e3e3e3;

$body-bg: $app-page-bg;
$brand-primary: $color-app-brand;
$brand-danger: $color-app-red;
$brand-warning: $color-app-yellow;
$brand-info: $color-app-cyan;

$btn-primary-color:              $color-white;
$btn-primary-bg:                 $color-hab-orange;
$btn-primary-border:             darken($color-hab-orange, 5%);
$btn-line-height:                0.75;

$btn-secondary-color:            $color-white;
$btn-secondary-bg:               $color-hab-light-gray;
$btn-secondary-border:           $color-hab-dark-gray;

$btn-tertiary-color:            $color-white;
$btn-tertiary-bg:               $color-hab-dark-gray;
$btn-tertiary-border:           $color-hab-darkest-gray;

$btn-box-shadow:                 none;
$btn-focus-width:                2px;

$menu-item-active: $color-app-red;
$menu-item-inactive: $color-app-light-grey;

$header-bg: #A8ABBA;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-serif: Times, 'Times New Roman', serif;

$font-monospace: monospace;
$font-glyph-lib: "Font Awesome 5 Pro";
$font-roboto: "Roboto", $font-family-sans-serif;

$font-default-family: "museo-sans", $font-family-sans-serif;
$font-default-color: $color-hab-darkest-gray;
$font-default-size: 14px;
$font-default-content-line-height: 1.4;

$html-entity-nbsp: "\a0";

$bp-mobile-landscape: (min-width: 480px);
$bp-tablets-portrait: (min-width: 768px);
$bp-tablets-only: (min-width: 768px) (min-width: 1024px);
$bp-tablets-landscape: (min-width: 1024px);
$bp-desktop: (min-width: 1280px);
$bp-desktop-wide: (min-width: 1400px);

$html-entity-error: '\f071';
$html-entity-info: '\f129';
$html-entity-success: '\f00c';
$html-entity-fixme: '\f0ad';

$color-success-light: #dff0d8;
$color-success-dark: #3c763d;

$color-info-light: #dff0d8;
$color-info-dark: #31708f;

$color-warning-light: #faf2cc;
$color-warning-dark: #8a6d3b;

$color-error-light: #ebcccc;
$color-error-dark: #a94442;

// Set up Theme colors & other settings for bootstrap before importing their variables
$hab-primary:     $color-hab-orange;
$hab-secondary:   $color-hab-green;
$hab-success:     $brand-primary;
$hab-info:        $brand-info;
$hab-warning:     $brand-warning;
$hab-danger:      $brand-danger;
$hab-light:       $color-hab-almost-white;
$hab-dark:        $color-hab-darkest-gray;

$theme-colors: ();
$theme-colors: map-merge(
    (
        "primary":    $hab-primary,
        "secondary":  $hab-secondary,
        "success":    $hab-success,
        "info":       $hab-info,
        "warning":    $hab-warning,
        "danger":     $hab-danger,
        "light":      $hab-light,
        "dark":       $hab-dark
    ),
    $theme-colors
);

$enable-gradients:    false;
$enable-shadows:      false;
$enable-transitions:  false;

$body-color:          $hab-primary;

$border-radius:               .25rem;
$border-radius-lg:            .3rem;
$border-radius-sm:            .2rem;

$btn-border-radius:           $border-radius;
$btn-border-radius-lg:        $border-radius-lg;
$btn-border-radius-sm:        $border-radius-sm;

//Bootstrap variables that have been removed in current Bootstrap but are still referenced in our styles
$font-size-xs:                        .75rem !default;
$btn-padding-x-sm:                    .5rem !default;
$btn-padding-y-sm:                    .25rem !default;
$spacer:                              1rem !default;
$spacer-y:                            $spacer !default;