@import "../config/base-import";

.actions .btn {
	+ .btn {
		margin-left: 4px;
	}
}
.actions, .procedure-navigation, .recipients {
	.btn {

		&.reset {
			@include button-variant($btn-secondary-bg, $btn-secondary-bg);
			color: $color-white;
		}

		&.remove, &.cancel, &.cancel-button, &.reschedule {
			@include button-variant($btn-tertiary-bg, $btn-tertiary-bg);
			color: $color-white;
		}
	}
}

.btn {
	cursor: pointer;
	@include button-variant($btn-primary-bg, $btn-primary-bg);
	color: $color-white;
	font-family: $font-default-family;
	font-weight: 600;
	padding: .4rem 1rem;


	&.engagement-completed {
		display: block;
	}

	&.go, &.back-home {
		@include button-variant($btn-secondary-bg, $btn-secondary-bg);
		color: $color-white;
	}
}

.action-column .btn {
	@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-xs, $btn-line-height, $btn-border-radius-sm);
}

span.submit_button .btn.submit_button {
	margin: .5rem 0;
}
