@import "../config/base-vars";

/* Header styles */
#header {
	background: $color-hab-darkest-gray; /* Fallback for older browsers that don't support linear gradient */
	background: linear-gradient(
					to bottom,
					rgba($color-hab-darkest-gray, .8) 0%,
					rgba($color-hab-darkest-gray, .95) 36%,
					rgba($color-hab-darkest-gray,1) 100%
					);
	border-bottom: 1px solid $color-hab-darkest-gray;

	> .box-wc {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		padding: 10px 0 10px 10px;

		/* use flexbox to make sure the elements are displayed in the order we want them. */
		.javascript,
		.script {
			order: 0;
			display: none;
		}

		.logo {
			order: 1;
			flex: 0 0 50%;
		}

		.user-control {
			order: 2;
			flex: 0 0 50%;
		}

		.nav-menu {
			flex: 0 0 100%;
			order: 3;

			@include breakpoint($bp-desktop) {
				flex: 1 0 auto;
			}
		}

		.miwt {
			flex: 0 1 auto;
			order: 4;

			&:not(.send-cheer-con){
				margin: 0 .5rem;
			}
		}

		.send-cheer-con,
		.notification-summary {
			flex: 1 1 28px;
			text-align: center;
			order: 5;
		}

		.double-menu {
			text-align: center;

			@include breakpoint($bp-desktop) {
				text-align: left;
			}
		}

		.custom-menu,
		.coaching-library {
			//flex-basis: 48%;

			ul.menu-t1 {
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-around;
				width: 100%;
			}
		}

		.dashboard-quickfind {
			width: 300px;
			text-align: right;

			.select2-container {
				max-width: 100%;
				width: 100%;
			}
		}

		.send-cheer-con .window.dialog {
			text-align: initial;
		}
	}

	.text.logo {
		img {
			width: 165px;
			height: auto;
			padding-top: 2px;
		}
	}
}


/* Generic Primary menu class.  Primarily used in top nav of the page */
.primary-menu {
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;

	> .menu {
		display: inline-block;
	}

	.menu {
		margin: 0;
		padding: 0;
	}

	.menuitemlabel {
		display: block;
		color: $color-white;
		text-decoration: none;
		font-family: $font-default-family;
		padding: 5px;
	}

	div.menuitemlabel {
		cursor: default;
	}

	.mi {
		list-style: none;
	}

	.menu-t1 {

		> .mi {
			position: relative;
			display: inline-block;

			> .menuitemlabel {
				font-size: 18px;
				padding: 5px 20px 5px 45px;
				background: 0 -4px transparent url(/_resources/dyn/files/8955z43c92937/_fn/primary-menu-icons.png) no-repeat;

				@media only screen and (max-width: 759px){
					font-size: 17px;
					padding: 5px 10px;
					background: 0 0;
				}
			}
		}

		@media only screen and (min-width: 760px) {

			> .team > .menuitemlabel {
				background-position: 0 -4px;
			}
			> .activities > .menuitemlabel {
				background: none;

				&::before {
					content: '\f865';
					font-family: $font-glyph-lib;
					font-weight: 400;
					font-size: 25px;
					position: absolute;
					left: 6px;
					top: -2px;
				}
			}
			> .training > .menuitemlabel {
				background-position: 0 -126px;
			}
			> .support > .menuitemlabel {
				background-position: 0 -87px;
			}
			> .events > .menuitemlabel {
				background-position: 0 -165px;
			}
			> .coaching > .menuitemlabel {
				background-position: 0 -205px;
			}
			> .reports > .menuitemlabel {
				background-position: 0 -46px;
			}
			> .topic-list-management > .menuitemlabel,
			> .topic-lists > .menuitemlabel {
				background: none;

				&::before {
					content: '\f022';
					font-family: $font-glyph-lib;
					font-weight: 400;
					font-size: 28px;
					position: absolute;
					left: 6px;
					top: -2px;
				}
			}
		}

		> .mi.open-menu .menu-t2 {
			opacity: 1;
			visibility: visible;
		}

		> .mi:active .menu-t2{
			-webkit-transition: opacity .15s ease-out;
			transition: opacity .15s ease-out;
		}
	}

	/* SECONDARY MENU STYLES */
	.menu-t2 {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 50;
		width: 250px;
		background: $color-hab-darkest-gray;
		padding: 5px;
		border-radius: 3px;
		box-shadow: 0 4px 5px rgba($color-hab-darkest-gray, .15);
		max-height: 210px;
		overflow-y: auto;
		opacity: 0;
		visibility: hidden;
		transition: all 0.15s ease-out;

		> .mi {
			background-color: $color-hab-dark-gray;
			border-radius: 1px;
			transition: all 0.15s;

			+ .mi {
				margin-top: 3px;
			}

			> .menuitemlabel {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				line-height: 20px;
				font-size: 14px;
				padding: 3px 5px;
			}
		}

		> .mi:hover {
			background-color: $color-hab-orange;
		}
	}
}